<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
    
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link btn btn-secondary" href="/">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-secondary" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-secondary" href="/logout">Logout</a>
          </li>
    </ul>

    <div class="container mt-5">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">
            {{msg}}
        </div>
        {% endfor %}
    </div>
        

    {% block content %}
    {% endblock %}
</body>
</html>

<!-- navbar from bootstrap  -->
<!-- Include { if session['user_id'] } -->
<!-- Include { for category, msg in get_flashed_messages(with_categories=True) } ? -->